{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="head-container">
        <div class="userInfo">
            {% if is_client%}
                Клиент: {{ request.user.profile.name }}
            {% else %}
                {% if is_service %}
                    Сервисная компания: {{ request.user.profile.name }}
                {% else %}
                    Страница менеджера
                {% endif %}
            {% endif %}
        </div>
        <br>
        <h3>Проверьте комплектацию и технические характеристики техники Силант</h3>

        <div class="buttons">
            <button class="btn btn-primary"> <a class="ref text-white" href="/">Общая информация</a> </button>
            <button class="btn btn-primary"> <a class="ref text-white" href="{% url 'main' %}">ТО</a> </button>
            <button class="btn btn-primary"> <a class="ref text-white" href="{% url 'reclamation' %}">Рекламации</a> </button>
        </div>
        <hr>
    </div>
    <div class="info-container">
        <div class="fil-form">
            <form action="" method="get" >
                 <div class="filter-form">
                     {% for field in filterset.form %}
                         <div>
                             {{ field.label_tag }}
                             {{ field }}
                         </div>

                     {% endfor %}
                 </div>
                <input class="btn btn-secondary mb-4 mt-3" type="submit" value="Найти" />
            </form>
        </div>
        {% if is_exist %}
            <p> Информация о комплектации и технических характеристиках Вашей техники</p>
            <div class="scroll-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Зав. № машины</th>
                        <th>Вид ТО</th>
                        <th>Дата проведения ТО</th>
                        <th>Наработка, м/час</th>
                        <th>№ заказ-наряда</th>
                        <th>Дата заказ-наряда</th>
                        <th>Организация, проводившая ТО</th>
                    </tr>
                    </thead>
                        {% for main in filterset.qs %}
                            {% if main.machine in users_machines %}
                                <tbody>
                                <tr>
                                    <td class="selected">
                                        <a class="ref text-dark" href="{% url 'machine' main.machine.id %}">{{ main.machine.number }}</a>
                                    </td>
                                    <td class="selected">
                                        <a class="ref text-dark" href="{% url 'sprav' main.type.id %}">{{ main.type }}</a>
                                    </td>
                                    <td>{{ main.to_date }}</td>
                                    <td>{{ main.operating }}</td>
                                    <td>{{ main.order_num }}</td>
                                    <td>{{ main.order_date }}</td>
                                    <td class="selected">
                                        <a class="ref text-dark" href="{% url 'sprav' main.service.id %}">{{ main.service }}</a>
                                    </td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {%endfor%}
                </table>
            </div>
            <br>
        {% else %}
            <h2>Данных по техническому обслуживанию не обнаружено</h2>
        {% endif %}
    </div>


</div>


{% endblock content %}